<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="readerFile" class="ru.otus.homework.readerFile.impl.ReaderFileCvsParserImpl">
        <constructor-arg name="fileName" value="Questions.csv" type="java.lang.String"/>
    </bean>
    <bean id="serviceTest" class="ru.otus.homework.service.impl.TestStudentServiceImpl">
        <constructor-arg name="readerFile" ref="readerFile"/>
    </bean>
</beans>