<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Delete book</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
            width: 600px
        }

        .row {
            margin-top: 10px;
        }
    </style>

</head>
<body>
<form id="bookDelete-form" th:action="@{/book/delete(id=${book.id})}" th:method="POST" th:object="${book}">
    <h3>Book Info:</h3>

    <div class="row">
        <label for="id-input">ID:</label>
        <input id="id-input" type="text" readonly="readonly" th:value="*{id}"/>
    </div>

    <div class="row">
        <label for="book-name-input">Name:</label>
        <input id="book-name-input" readonly="readonly" name="name" type="text" th:value="*{name}"/>
    </div>
    <div class="row">
        <label for="book-author-input">Author:</label>
        <input id="book-author-input" readonly="readonly" name="author" type="text"
               th:value="*{author}"/>
    </div>
    <div class="row">
        <label for="book-genre-input">Genre:</label>
        <input id="book-genre-input" readonly="readonly" name="genre" type="text"
               th:value="*{genre}"/>
    </div>
    <div class="row">
        <button type="submit" th:text="Delete">Delete</button>
        <a href="bookList.html" th:href="@{/book/all}">
            <button type="button" th:text="Cancel">Cancel</button>
        </a>
    </div>
</form>
</body>
</html>