<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Error comment</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>

</head>
<body>
<form id="error-form">
    <h3>Нельзя удалить т.к. используется</h3>
    <div class="row">
        <a href="commentList.html" th:href="@{/comment/all}">
            <button type="button" th:text="Ok">Ok</button>
        </a>
    </div>
</form>
</body>
</html>